library/
local/
cellar/
lock/
python/
staging/
.Rhistory
.DS_Store
.Rproj.user
my.secrets
chromedriver
cases_*.csv
recent_election_results__*
.hugo_build.lock
public/
node_modules

# Local Netlify folder
.netlify
starbucks_filings.gif
tmp.txt

/.quarto/
_site

.vdoc.r
_freeze
**/*.quarto_ipynb
