/* You can add custom styles here. */

// @import "plugins/numbered";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/nav";

figure.plot {
  width: 80%;
  height: auto;
}

table.open-cases {
    font-size: .75rem;
    border-spacing: .1rem;
    line-height: 1;
}

table.open-cases tr td{
   padding: 0rem .1rem;
}



.summary-stats{
  font-size: .75rem;
  border-spacing: .1rem;
  line-height: 1;

  caption {
    font-size: 1.25rem;
  }
}

div.data-table {
  width: 100%;

}

input[type=search] {
  padding: .5rem;
  border: 0;
  border-radius: .25rem;
  background: var(--gray-100);
  color: var(--body-font-color);
}

.markdown img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}


.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}
