{{ $images := .Get "images" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}

{{ $class := md5 $images }}
{{ $images := split $images ","}}
<p>
  {{ range $images }}
    {{ $arg := split . ":" }}
    {{ $image := index $arg 0 }}
    {{ $label := index $arg 1 }}
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#{{ $image }}" aria-expanded="false"
            aria-controls="{{ $image }}">
      {{$label}}
    </button>
  {{ end }}
</p>

<div id="acc{{ $class }}" class = "card">
  {{ range $images }}
    {{ $arg := split . ":" }}
    {{ $image := index $arg 0 }}
    {{ $label := index $arg 1 }}
    <div class="collapse show" id="{{ $image }}" data-bs-parent="#acc{{ $class }}">
      <div class="card-body">
        <figure class="plot">
            <picture>
              <source srcset="{{$image}}.webp" type="image/webp"
                width="{{ $width }}"
                height="{{ $height }}">
                <img src="{{$image}}.png"
                width="{{ $width }}"
                height="{{ $height }}"
                loading="lazy"
                decoding="async" >
            </picture>
        </figure>
      </div>
    </div>
  {{ end }}
</div>
