{{ $src := .Get "src"}}
{{ $type_arr := split $src "." }}
{{ $srcbase := index $type_arr 0 }}

<figure class="plot">
    <picture>
      <source srcset="{{$srcbase}}.webp" type="image/webp"
        {{ with .Get "width" }}width="{{.}}"{{ end }}
        {{ with .Get "height" }}height="{{.}}"{{ end }} >
      <img src="{{.Get `src`}}"
        {{ with .Get "width" }}width="{{.}}"{{ end }}
        {{ with .Get "height" }}height="{{.}}"{{ end }}
        loading="lazy"
        decoding="async" >
    </picture>
</figure>
