name: Update data
on:
  schedule:
  - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-18.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      GEOCODIO_API_KEY: ${{secrets.GEOCODIO_API_KEY}}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgeos-dev libudunits2-dev libgdal-dev libcurl4-openssl-dev

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Cache Python
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install chrome
        if: ${{ env.ACT }}
        run: |
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt-get install -y ./google-chrome-stable_current_amd64.deb


      - name: Install and run Python
        run: |
          python -m pip install -U pip
          pip install -r gen/scripts/requirements.txt
          export PATH=$PATH:/usr/local/share/chrome_driver
          python gen/scripts/nlrb.py

      - name: Setup R
        uses: r-lib/actions/setup-r@v1
        with:
          r-version: 4.0.2

      - name: Cache packages
        uses: actions/cache@v2
        with:
          path: ~/.local/share/renv
          key: ${{ runner.os }}-renv-${{ hashFiles('**/renv.lock') }}
          restore-keys: |
            ${{ runner.os }}-renv-

      - name: Restore packages
        shell: Rscript {0}
        run: |
          if (!requireNamespace("renv", quietly = TRUE)) install.packages("renv")
          renv::restore()

      - name: Get New Data
        run: Rscript gen/scripts/Update_Data.R

      - name: Commit new data
        id: commit
        uses: EndBug/add-and-commit@v7 # You can change this to use a specific version
        with:
          add: 'gen/data/recent_election_results.csv'
          message: 'Updated data'

      - name: Build Plots and Pages
        if: ${{ steps.commit.outputs.committed == 'true' }}
        run: |
          Rscript gen/scripts/Init.R
          Rscript gen/scripts/Mapping.R


      - name: Setup Hugo
        if: ${{ steps.commit.outputs.committed == 'true' }}
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.81.0'

      - name: Build
        if: ${{ steps.commit.outputs.committed == 'true' }}
        run: hugo --gc --minify --theme book

      - name: Deploy to Netlify
        if: ${{ steps.commit.outputs.committed == 'true' }}
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: './public'
          production-deploy: true
          netlify-config-path: './'
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
